/* font added */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

  /* common styles and utilities */

  *{
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
  }
  
  header{
    background: rgba(255, 144, 14, 0.1);
   }

  /* navigation styles started */
   
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .nav-logo{
    font-weight: 700;
    font-size: 45px;
    margin-left: 228px;
  }

  .nav-items ul{
    display: flex;
    gap:16px;
    margin-right:228px;
    
  }

  .nav-items ul li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
  }


  /* navigation styles ended */

  /* new arctects styled started  */
  .new-arc{
    margin-top: 110px;
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .new-arc-info{
    width: 862px;
    height: 225px;
  }

  .new-arc-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
  }

  .new-arc-subtitle{
    color: #727272;
    text-align: center;
  }

  .new-arc-banner img{
    
    height: 600px;
    width: 1000px;
    border-radius: 9px;
    margin-bottom: 45px;
  }

  .btn{
    border-radius: 8px;
    background: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
  }

  /* new arc styles ended  */


  /* quick list styles started  */
 .quick-list{
  margin-top: 85px;
  display: flex;
  align-items: center;
 }

.ql-img-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin-left:150px;
}
.ql-img-section div .img{
  width: 150px;
  max-width:100%;
  height:150px;
  border-radius: 8px;
}

.ql-info-section{
  margin-left:50px;
}

.ql-info-title .grey-clr{
  font-weight: 500;
  font-size: 45px;
  color: #727272;

}

.ql-info-title .black-clr{
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}

.ql-info-title .yellow-clr{
  font-weight: 700;
  font-size: 45px;
  color: #FF900E;
}

.ql-info-subtitle{
  color: #727272;
}

  /* responsive styles */

@media only screen and (max-width:576px){

  .navigation{
    display: flex;
    flex-direction: column;
  }

  .nav-logo{
    margin: 0;
  }

  .nav-items ul {
    margin: 0;
}

.new-arc-info {
  width:100%;
  height:100%;
}

.new-arc-banner img {
  height: auto;
  width: 100%;
}

.quick-list{
  flex-direction:column;
}

.ql-img-section {
  grid-template-columns: repeat(1,1fr);
  margin: auto;
}

.ql-info-section {
  margin-left: 26px;
}

}