/* font added */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

  /* common styles and utilities */

  *{
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
  }
  
  header{
    background: rgba(255, 144, 14, 0.1);
   }

  /* navigation styles started */
   
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .nav-logo{
    font-weight: 700;
    font-size: 40px;
    margin-left: 228px;
  }

  .nav-items ul{
    display: flex;
    gap:16px;
    margin-right:228px;
    
  }

  .nav-items ul li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
  }


  /* navigation styles ended */

  /* new arctects styled started  */
  .new-arc{
    margin-top: 110px;
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .new-arc-info{
    width: 862px;
    height: 225px;
  }

  .new-arc-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
  }

  .new-arc-subtitle{
    color: #727272;
    text-align: center;
  }

  .new-arc-banner img{
    
    height: 600px;
    width: 1200px;
    border-radius: 9px;
    margin-bottom: 45px;
  }

  .btn{
    border-radius: 8px;
    background: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
  }

  /* new arc styles ended  */


  /* quick list styles started  */
 .quick-list{
  margin-top: 85px;
  display: flex;
  align-items: center;
 }

.ql-img-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin-left:150px;
}
.ql-img-section div .img{
  width: 150px;
  max-width:100%;
  height:150px;
  border-radius: 8px;
}

.ql-info-section{
  margin-left:50px;
}

.ql-info-title .grey-clr{
  font-weight: 500;
  font-size: 45px;
  color: #727272;

}

.ql-info-title .black-clr{
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}

.ql-info-title .yellow-clr{
  font-weight: 700;
  font-size: 45px;
  color: #FF900E;
 
}

.ql-info-subtitle{
  color: #727272;
}

/* quick list styles ended */


  /* love and enjoy styles started */

  .love-enjoy{
    display: flex;
    margin-top: 130px;
    gap: 54px;
  }

  .feature-section{
    margin-left: 20px;
    width: 50%;
    
  }

  .feature-title-container{
    border-left: 4px solid #FF900E;
    

  }
  .feature-title{
    font-weight: 700;
    font-size: 45px;
    margin-left:10px;
  }

  .feature-subtitle{
    color: #727272;
    margin-top: 24px;
    margin-bottom:40px;
  }


  .feature-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-top:20px;

  }

  .feature-item-title{
    font-weight: 600;
    font-size: 20px;
  }

  .feature-item-subtitle{

    color: #727272;
    margin-top: 10px;

  }

  .feature-button{
    background: #FF900E;
    border-radius: 8px;
    padding: 20px;
    border: none;
    position:absolute;
    left: 0;
    bottom: -62px;
  }

  .feature-button a{
    text-decoration: none;
  }

  .feature-button a div:nth-child(1){
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    
  }
  .feature-button a div:nth-child(2){
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;

  }
 .feature-img{
  width: 50%;
  position: relative;

  
 }
  .feature-img img{
    width: 100%;
    height: 100%;
   
  }

  /* love and enjoy styles ended */

  /* some facts styles started */

  .some-facts{
    margin-top:130px;
  }
.facts-container{
  text-align: center;
  
}
  .facts-title{
    font-weight: 700;
    font-size: 45px;
  }

  .facts-subtitle{
    color: #727272;


  }


.facts-boxes{
  display: flex;
  justify-content: space-evenly;
  margin-top: 130px;
  margin-bottom: 180px;
  
}

.box-inf{
  text-align: center;
  margin-top: 50px;
}

.facts-box{
  height: 250px;
  width: 250px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  
}

.facts-box:hover{
  transform: rotate(360deg);
  transition: ease-in-out 2s;
  border-radius: 50%;
}

.box-number{
  font-weight: 600;
  font-size: 45px;
}
.box-title{
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}

/* some facts styles ended */

/* our sponsor section styles started */

.sponsor-info-container{
  text-align: center;
}
.sponsor-title{
  font-weight: 700;
  font-size: 45px;
}

.sponsor-subtitle{
  color: #727272;
  margin-top: 24px;
}

.sponsors{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 130px;
}
/* our sponsor section styles ended*/

/* beautiful architect section styles srarted  */

  .beautiful-section{
    margin-bottom: 138px;
  }

  .img-section{
    display: flex;
    justify-content: end;
    position: relative;
    
  }

  .img-section>img{
    width:80%;
    border-radius: 9px;
  }
  .content-section {
    height: 250px;
    width: 500px;
    background-color: #e0003e;
    border-radius: 9px;
    padding: 50px;
    position: absolute;
    left: 0;
    bottom: -136px;
    margin-left: 20px;
}

  .content-title{
    font-size:49px;
    color: #FFFFFF;
  }

  .content-heading {
    font-size: 31px;
    color: #FFF4E7;
    margin-top: 10px;
    margin-bottom: 11px;
}
  .content-info{
    color: #FFFFFF;
  }

  .content-btn {
    font-weight: 700;
    font-size: 19px;
    padding: 15px;
    border-radius: 38px;
    border: none;
    margin-top: 13px;
}

input{
  padding: 19px;
  border-radius: 27px;
  border: none;
  margin-top: 20px;
  width: 210px;
}

::placeholder {
  color: #424242;
  font-size: 17px;
  font-weight: 900;
}

/* beautiful architect section styles ended  */




/* footer section styles started  */

.footer{
  height: 100%;
  width:100% ;
  background: #424242;

}

.footer p{
 
 padding:50px;
 text-align: center;
 color: #FFF4E7;

}

/* footer section style ended  */


  /* responsive styles */

@media  screen and (max-width:576px){

  .navigation{
    display: flex;
    flex-direction: column;
  }

  .nav-logo{
    margin: 0;
  }

  .nav-items ul {
    margin: 0;
}

.new-arc-info {
  width:100%;
  height:100%;
}

.new-arc-banner{
  width: 90%;
}

.new-arc-banner img {
  height: 100%;
  width: 100%;
}

.quick-list{
  flex-direction:column;
}

.ql-img-section {
  grid-template-columns: repeat(1,1fr);
  margin:20px;
}

.ql-info-section{
  text-align: center;
  margin: auto;
}


.love-enjoy{
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  gap: 54px;
  align-items: center;
}

.feature-section{
  width: 80%;
}

.feature-img{
  width: 80%;

}

.feature-button {
  background: #FF900E;
  border-radius: 8px;
  padding: 20px;
  border: none;
  position: static;
  margin-top: 20px;
}

.feature-button a div:nth-child(1) {
  font-weight: 700;
  font-size: 26px;
  color: #FFFFFF;
}

.feature-button a div:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
}

.facts-boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 130px;
  margin-bottom: 180px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sponsors {
  display: flex;
  margin-top: 50px;
  margin-bottom: 130px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content-section {
  height: auto;
  width: 50%;
  background-color: #e0003e;
  border-radius: 9px;
  padding: 57px;
  position: static;
  margin-top: 20px;
  margin-left: 5px;
}

.content-heading {
  font-size: 28px;
  color: #FFF4E7;
  margin-bottom: 9px;
}

.content-btn {
  font-weight: 700;
  font-size: 23px;
  padding: 15px;
  border-radius: 38px;
  border: none;
  margin-top: 25px;
}


.content-title {
  font-size: 36px;
  color: #FFFFFF;
}

input{
  display: none;

}

}